body {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 20px;
  padding: 0px 10px;
  max-width: 1000px;
  margin: auto;
}


.main{
 padding: 10px 10px 10px 20px;
}


.main a {
  text-decoration: none;
  color: #000000;
  display: inline;
}

.main a:hover {
  color: blue
}

footer a {
  text-decoration: none;
  color: #000000;
  display: inline;
}

footer a:hover {
  color: blue
}

img {
  border-radius: 0;
  margin-top: 8px;
}
footer {
font-size: 22px;
bottom: 0px;
width: 1000px;
text-align: center;
}
table {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px
}
