body {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 20px;
  padding: 0px 10px;
  max-width: 1000px;
  margin: auto;
}

.navbar {
  max-width: 1000px;
  background-color: #555;
  overflow: auto;
}

.main{
 padding: 10px 10px 10px 20px;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; 
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #4CAF50;
}

.main a {
  text-decoration: none;
  color: #000000;
  display: inline;
}

.main a:hover {
  color: blue
}

footer a {
  text-decoration: none;
  color: #000000;
  display: inline;
}

footer a:hover {
  color: blue
}

img {
  border-radius: 50%;
  margin-top: 80px;
}

footer {
font-size: 22px;
position:fixed;
bottom: 0px;
width: 1000px;
text-align: center;
}
