<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<b><br><hr>
    <div class="navbar">
	<a style ="font-size:25px; padding: 6px 8px 6px 26px;" href="/">Home</a>
	<a style ="font-size:25px; padding: 6px 8px 6px 26px;" href="/about">About</a>
	<a style ="font-size:25px; padding: 6px 8px 6px 26px;" href="/blog">Blog</a>
    </div>
  <hr>
  </b>

<div class="main">

			<br>
			<h2>Co-Founder</h2>
			<p>BLOGNIZENS (Blogging Website)<br><a href="https://www.blognizens.com">www.blognizens.com</a><hr></p>
			<h2>Posts</h2>
			<p><b>Why should you care about Proteins?</b><br><i><a href="https://www.blognizens.com/post/why-should-you-care-about-proteins">[Read complete article]</a></i></p>

</div>

<footer>
	<hr>
    	E-mail: <a href="mailto:rajan22091998@gmail.com">rajan22091998@gmail.com</a> |
   	Linkedin: <a href="https://www.linkedin.com/in/rajanbit">rajanbit</a> |
    	GitHub: <a href="https://github.com/rajanbit">rajanbit</a> |
    	Blog: <a href="https://www.blognizens.com/rajan">rajan</a>
	</p>
 </footer>
</body>

</html>
