<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <b><br><hr>
  <a style ="font-size:25px; padding: 6px 8px 6px 26px;" href="/">Home</a>
  <a style ="font-size:25px; padding: 6px 8px 6px 26px;" href="/about">About</a>
  <a style ="font-size:25px; padding: 6px 8px 6px 26px;" href="/blog">Blog</a><hr>
  </b>
  
<div class="main">

    {{ content }}

</div>

<footer>
	<hr>	
	<p style="text-align: center;">
    	E-mail: <a href="mailto:rajan22091998@gmail.com">rajan22091998@gmail.com</a> |
   	  Linkedin: <a href="https://www.linkedin.com/in/rajanbit">rajanbit</a> |
    	GitHub: <a href="https://github.com/rajanbit">rajanbit</a> |
    	Blog: <a href="https://www.blognizens.com/rajan">rajan</a>
	</p>
 </footer>
</body>

</html>
