<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>

<div class="sidenav">

  <b>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  </b>
  <center>
  <img src="https://avatars3.githubusercontent.com/u/69324720?s=400&u=1d112b5a32457d994d868d718d4152fc8c3ced9e&v=4" alt="Avatar" style="width:200px;height:200px;">
  </center> 
  <h1 style="text-align: center;">RAJAN</h1>
  <ul class="Contacts">
    <li style="font-size: 20px;">E-mail: <a href="mailto:rajan22091998@gmail.com">rajan22091998@gmail.com</a></li><br>
    <li style="font-size: 20px;">LinkedIn: <a href="https://www.linkedin.com/in/rajanbit">linkedin.com/in/rajanbit</a></li><br>
    <li style="font-size: 20px;">GitHub: <a href="https://github.com/rajanbit">github.com/rajanbit</a></li><br>
    <li style="font-size: 20px;">Blogs: <a href="https://www.blognizens.com/rajan">blognizens.com/rajan</a></li><br>
  </ul>
</div>

<div class="main">

    {{ content }}

</div>

  <footer>
  </footer>

  </body>

</html>
